<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.skolera.skolera_android"
    android:versionCode="1"
    android:versionName="@string/app_name">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name="trianglz.managers.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="trianglz.ui.activities.CourseAssignmentActivity"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="trianglz.ui.activities.AssignmentDetailActivity"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <service android:name=".MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name="login.schoolCode"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="login.LoginActivity"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar" />
        <activity
            android:name="myKids.MyKidsActivity"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar" />
        <activity
            android:name="grades.GradesAvtivity"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar" />
        <activity
            android:name="login.ForgetPasswordActivity"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar" />
        <activity
            android:name="gradeBook.ActivityCourse"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="attendance.AttendanceActivity"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar" />
        <activity
            android:name="student.StudentActivity"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar" />
        <activity
            android:name="trianglz.ui.activities.BehaviorNotesActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme_v2" />
        <activity
            android:name="trianglz.ui.activities.TimetableActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme_v2" />
        <activity
            android:name=".MessageThreadActivity"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".AskTeacherActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".ActivityNewMessage"
            android:theme="@style/NoActionBar" />
        <activity
            android:name="trianglz.ui.activities.SchoolLoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme_v2" />
        <activity
            android:name="trianglz.ui.activities.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme_v2" />
        <activity
            android:name="trianglz.ui.activities.NotificationsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme_v2" />
        <activity
            android:name="trianglz.ui.activities.HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme_v2" />
        <activity
            android:name="trianglz.ui.activities.StudentDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme_v2" />
        <activity
            android:name="trianglz.ui.activities.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme_v2">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="trianglz.ui.activities.AttendanceActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme_v2" />
        <activity
            android:name="trianglz.ui.activities.GradesActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme_v2" />
        <activity
            android:name="trianglz.ui.activities.GradeDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme_v2" />
        <activity
            android:name="trianglz.ui.activities.ContactTeacherActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme_v2" />
        <activity
            android:name="trianglz.ui.activities.NewMessageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme_v2" />
        <activity
            android:name="trianglz.ui.activities.ChatActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme_v2" />
        <activity
            android:name="trianglz.ui.activities.AnnouncementActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme_v2" />
        <activity
            android:name="trianglz.ui.activities.AnnouncementDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme_v2" />
        <activity
            android:name="trianglz.ui.activities.WeeklyPlannerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme_v2" />
        <activity
            android:name="trianglz.ui.activities.DailyNoteActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme_v2" />
    </application>

</manifest>